.expense {
     display: flex;
    flex-direction: column !important;
    background-image: url('../../assets\pexels-monstera-production-5849559.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}