.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 217, 214);
    border: 5px solid black;
    border-radius: 10px;
    height: 100px;

    ul {
        list-style: none;
        font-size: large;
        display: flex;

        li {
            margin: 0 90px;
        }
    }
}